/* General settings */

.blog-parent {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

article {
  padding: 30px;
}

/* Blog gallery */

.blog-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "box-1 box-2"
    "box-3 box-4";
}
.blog-gallery img {
  width: 100%;
}

.box-1 {
  grid-area: box-1;
}

.box-2 {
  grid-area: box-2;
}

.box-3 {
  grid-area: box-3;
}

.box-4 {
  grid-area: box-4;
}

/* Article settings */

.article-img {
  padding-bottom: 20px;
}
.article-img img {
  border-radius: 10px;
}

/* Author settings */
.author-img img {
  width: 100px;
  border-radius: 50%;
  padding: 10px 0;
}
.author-name {
  font-weight: bold;
}
.author-social ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.author-social li {
  padding-right: 10px;
}
.author-social img {
  width: 24px;
}

.tags {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: center;
  justify-content: center;
}
.tags a {
  background: #ccc;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.tags a:hover {
  background-color: lightblue;
  color: #000;
}
