/* Media query */
@media only screen and (max-width: 900px) {
  .blog-parent {
    flex-wrap: wrap;
  }
  aside {
    margin-bottom: 50px;
  }
  article {
    width: 75vw;
  }
  .article-img img {
    width: 75%;
  }
}
