/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");
@import "cards.css";
@import "media.css";

/* General layout */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
}
.container {
  max-width: 70vw;
  margin: auto auto;
}
p {
  line-height: 1.4;
  font-size: 16px;
}

/* Individual sections */
/* Navigation */
nav {
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: relative;
}

a {
  text-decoration: none;
  color: #757575;
  font-weight: bold;
}

.nav-icon {
  cursor: pointer;
  width: 24px;
}

footer {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  padding-top: 20px;
  margin: 10px;
}
